.bank-card-container{
    display: flex;
    height: 90px;
    background-color: #ff6767;
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    border-radius: 15px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-grow: 1;
}

.liner{
    width: 2px;
    height: 60px;
    background-color: white;
}

.type-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.amount-edit{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.blood-amount{
    font-weight: 700;
}

.edit-amount-input{
    height: 40px;
    width: 90%;
    padding: 5px;
    font-size: 16px;
    color: black;
    transition: border-color 0.3s, background-color 0.3s;
    border-radius: 10px;
    border: 1px solid #5B5B5B;
    background: #FFF;
}

.save-cancel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.edit-save-btn{
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 100%;
    border: 0 solid #5B5B5B;
    padding: 5px 2px;
    height: 30px;
    font-size: 14px;
}

.edit-save-btn:hover{
    cursor: pointer;
    background-color: rgba(239, 239, 239, 0.98);
}

.edit-cancel-btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    border: 0 solid #5B5B5B;
    padding: 5px 2px;
    height: 30px;
}

.edit-cancel-btn:hover{
    cursor: pointer;
    background-color: rgba(23, 23, 23, 0.98);
}

.edit-svg-icon:hover{
    cursor: pointer;
}